</form>
<iframe width="560" height="315" src="https://www.youtube.com/watch?v=j8qp3ITVqY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "byronhomepage" %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
</div>

<div class="col-12">
    <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
</div>

</div>
