<!DOCTYPE html>
<html lang="en">

{% include "layouts/navbar.html" %}

{% block meta %}

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/byron/" id="byron" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
                <p>Hi I'm Byron, and I am a sophomore in AP Computer Science Principles. I like playing soccer and chess, and I also enjoy watching YouTube and Netflix.</p>
                <p> This is my AP CSP Journal link</p>
                <a href="https://docs.google.com/document/d/1hiMOqhQTmJGTgKJEy1R_7JWktAQJBVpXeyeKn1s1P54/edit" target="_blank">Journal</a>
                <img width=300  src="">
            </form>
            <!-- Extending the predefined project layout -->

        </div>
    </div>

    <style>
        html, body{
            margin: 0;
            height: 100%;
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
            background-color: var(--purple);
            color: var(--black);
            background-image: url('/static/assets/Cornbackground.jpg');
            background-position:center;
            background-repeat:no-repeat;
            background-size: cover;

{% endblock %}