<!DOCTYPE html>
<html lang="en">
<head>
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{name}}!</p>
    </div>
    <div class="col-12">
        <form action="/Chase/" id="Chase" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
            <p>Hi I'm Chase, and I am a student in AP Computer Science Principles. I like Guitars and Videogames. I am a sophmore.</p>
        </form>
        <!-- Extending the predefined project layout -->
        {% extends "layouts/basehomepage.html" %}

        <!- This variable sets name of browser tab  -->
        {% set project = "Chase" %}

        <!- This is a replacement block for Body in base.html -->
        {% block body %}
            <!- Try building a new body here ->
            <p>Hi I'm Chase, and I am a student in AP Computer Science Principles. I like Guitars and Videogames. I am a sophmore.</p>
        {% endblock %}

        <!- This is turning off birds background from base.html -->
        {% block background %}
        {% endblock %}
    </div>
    <div class="col-12">
        <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
    </div>
</div>