<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<table class="table">
    <br>
    <td> <b style="font-size: 30px">Dent corn (Zea mays var. indentata) is a fast-growing, vertically erect, short-lived annual plant and similar to many other varieties of Zea mays. More commonly grown to a height of 2–3 meters (6–9 feet), Zea mays typically grows with a single, hollow main stem often called a stalk (or culm) which exhibits internodes that are cylindrical in the upper part and alternately grooved in the lower part with a bud in the groove. One or occasionally two lateral branches emerge from the leaf axils in the upper part of the plant.[5] The leaves of Zea mays alternate with broad, sword-shaped leaf blades, parallel veins with a prominent mid-rib, and small ligules. The plant has an adventitious, dense, fibrous root system that develops aerial roots at nodes near the soil surface.</b> </td>
    <td> <img src=/static/assets/dentcorn.jpg width="600px" height="600px"> </td>

    </br>
</table>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>