<!-- Extending the project layout, as this file will do minor customizations -->
{% include "layouts/navbar.html" %}

<table class="table">
    <br>
        <td> <b style="font-size: 30px">9 Interesting Facts About Corn</b> </td>
    </br>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">1. Corn is a wild grass. Over 10,000 years ago, people from Southern Mexico collected and consumed a wild grass called 'teosinte', which is now what we call 'maize' (field corn). From Mexico, maize spread during migrations, into the southwest areas of the U.S.A and south to Peru.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">2. Corn is not native to Canada. Corn, a.k.a. maize may be one of Canada’s traditional crops, but it is not native. Maize was first cultivated by the First Nations in the Ottawa region and later by European settlers.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">3. 65% of Canadian corn comes from Ontario. 25% of the corn grows in Quebec and the remaining 10% is grown throughout Canada.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">4. Popcorn is a type of corn. Popcorn is a type of ‘flint’ corn. When heated, the outer shell allows moisture in and enough steam and pressure causes the corn to crisp and puff into the delicious popcorn we love to munch on.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">5. Corn seed is the individual kernel. AND the ear is part of the flower.</a></td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">6. There is an even number of rows in every cob of corn. The average number of kernels in a 16-row cob of corn is 800.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">7. Corn was used as a substitute for coffee! In the 1800s when coffee was too expensive and scarce, thrifty Americans used parched corn as a coffee substitute and the ashes of burnt corn cobs were used as baking soda.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">8. Corn is an ingredient in fireworks. There are plenty of industrial products that use corn, including paper, antibiotics, glue, insulation, paper, ethanol, shoe polish, cosmetics, detergent, paint, and much more.</a> </td>
    </tr>
    <td> <a style="font-size: 20px;font-family: Georgia;color: black">9. The husk helps keep the corn moist and juicy.</a></td>
    </tr>


<style>
    :root{
        --white: whitesmoke;
        --black: black;
        --grey: grey;
    }

    html,body {
        background: url('/static/assets/Cornbackground.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
