<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<table class="table">
    <br>
    <td> <b style="font-size: 30px">Flint corn is also the type of corn preferred for making hominy, a staple food in the Americas since pre-Columbian times. In the United States the flint corn cultivars that have large proportions of kernels with hues outside the yellow range are primarily used ornamentally as part of Thanksgiving decorations. They are often called either "ornamental corn" or "Indian corn", although each of those names has other meanings as well. These varieties can be popped and eaten as popcorn, although many people incorrectly believe that such colored varieties are not palatable or are poisonous. Because flint corn has a very low water content, it is more resistant to freezing than other vegetables.</b> </td>
    <td> <img src=/static/assets/FlintCorn.jpg width="600px" height="600px"> </td>

    </br>
</table>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>