<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<table class="table">
    <br>
    <td> <b style="font-size: 30px">In Native American lore, maize (or corn as it is commonly called in the U.S.) was one of the "three sisters." Corn seed, along with beans and squash, were planted and grown together, supporting each other in their life cycle and providing a very balanced diet of carbohydrates, proteins and vegetable fats to their cultivators.

        Flint corn typically has hard seed coats that with rounded, smooth, kernels consisting of soft starch covered by horny starch[1]. Many "Indian corn" types are flint type. They are well suited for making good quality corn meal or ground and used for livestock feed. Most often flour corn is harvested when fully ripe and dry and ground into cornmeal.</b> </td>
    <td> <img src=/static/assets/flourcorn.jpg width="600px" height="600px"> </td>

    </br>
</table>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>