<div class="container">
    <div class="row align-items-start">
            <div class="col" style="text-align: left;">
                <a class="twitter-timeline" href="https://twitter.com/NighthawkCoding?ref_src=twsrc%5Etfw">Tweets by NighthawkCoding</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

            <div class="col" style="text-align: center;">
                <a class="twitter-timeline" href="https://twitter.com/NighthawkCoding?ref_src=twsrc%5Etfw">Tweets by NighthawkCoding</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

    </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>