<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<table class="table">
    <br>
    <td> <b style="font-size: 30px">This is a variety of corn where each individual kernel is enclosed in long, membranous husks known as glumes. The kernels are naked, or exposed, in other corn. This variant has a mutation of a leaf gene in the maize cob that is not usually active in this portion of the plant. Thus, pod corn is a corn ear that forms leaves in the “wrong” place. It was once thought that pod corn was a wild ancestor of maize, but recent genetic research had shown pod corn ears are the result of this genetic mutation. Because it’s difficult to uncover each individual kernels it is not commonly eaten but is another example of the amazing diversity present in corn. The six major types of corn are dent corn, flint corn, pod corn, popcorn, flour corn, and sweet corn.</b> </td>
    <td> <img src=/static/assets/podcorn.jfif width="600px" height="600px"> </td>

    </br>
</table>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>