<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<table class="table">
    <br>
    <td> <b style="font-size: 30px">Sweet corn occurs as a spontaneous mutation in field corn and was grown by several Native American tribes. The Iroquois gave the first recorded sweet corn (called 'Papoon') to European settlers in 1779. It soon became a popular food in the southern and central regions of the United States.


        Young sweet corn

        The same rows of corn 41 days later at maturity
        Open pollinated cultivars of white sweet corn started to become widely available in the United States in the 19th century. Two of the most enduring cultivars, still available today, are 'Country Gentleman' (a Shoepeg corn with small kernels in irregular rows) and 'Stowell's Evergreen'. Sweet corn production in the 20th century was influenced by the following key developments: hybridization and identification.</b> </td>
    <td> <img src=/static/assets/sweetcorn.jpg width="600px" height="600px"> </td>

    </br>
</table>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>