**this one michael**
<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<h style="font-family: 'Comic Sans MS',fantasy; font-size: 40px;" > This Is waxy corn</h>
<td style="font-family: 'Comic Sans MS', fantasy; font-size: 20px;">Waxy corn is epic </td>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>