<!DOCTYPE html>

<html lang="en">

{% include "layouts/navbar.html" %}

<table class="table">
    <br>
    <td> <b style="font-size: 30px">The exact history of waxy maize is unknown. The first mentions of it were found in the archives of the U.S. Department of Agriculture (USDA). In 1908, the Rev. J. M. W. Farnham, a Presbyterian missionary in Shanghai, sent a sample of seeds to the U.S. Office of Foreign Seed and Plant Introduction. A note with the seeds called it: “A peculiar kind of corn. There are several colours, but they are said to be all the same variety. The corn is much more glutinous than the other varieties, so far as I know, and may be found to be of some use, perhaps as porridge.” These seeds were planted on May 9, 1908, near Washington, D.C., by a botanist named Guy N. Collins. He was able to grow 53 plants to maturity and made a thorough characterisation of these plants.</b> </td>
    <td> <img src=/static/assets/Cornwax.jpg width="600px" height="600px"> </td>

    </br>
</table>

<style>
    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-image: url('/static/assets/Cornbackground.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;

</style>